@import "../../../assets/cssFiles/variables.scss";
section {
    flex-direction: column;
    margin-bottom: 40px;
}
.amount {
    &__item {
        margin-bottom: 15px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        
        & p {
            font-weight: 600;
            font-size: 14px;
        }
    }
}