@import "../../../assets/cssFiles/variables.scss";

section {
   justify-content: center;
   align-items: center; 
   margin-bottom: 70px;
}
button {
    width: 246px;
    height: 64px;
    background: linear-gradient(180deg, #00DBE5 0%, #8E67FF 97.17%);
    border-radius: 24px;
    font-weight: 700;
    font-size: 20px;
    color: $info-text-color;
    line-height: 64px;
}